/* variables declaration */
:root {
	--primary-color: #3396C0;
	--secondary-color: #CD006B;
	--third-color: #EEE325;
	
	--color1: #ffffff;
	--color2: rgba(0, 0, 0, 0.25);
	--color3: #E6F4FB;
	--color4: #28363d;
	--color5: #1e212d;
}

/* Reset CSS */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100vw;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

section {
	margin-block: 6em;
}

h1, h2, h3, h4, .btn {
	font-family: 'Roboto Slab', sans-serif;
}

h1 {
	font-size: 50px;
	font-weight: 900;
	margin: 1em 15px;
	text-align: center;
}

h2 {
	font-size: 40px;
	font-weight: 900;
	margin-block: 1em;
}

h3 {
	font-size: 26px;
	font-weight: 900;
	margin-block: 1em;
}

p, 
li {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 26px;
}

/* AJOUTE pour chacher les flêches du slider tant que le script JS n'est pas lancé */
.hidden {
	visibility: hidden;
}

.arrow,
.dot {	
	cursor: pointer;
}

header,
.container {
	margin: auto;
	display: flex;
}

header, 
main,
footer {
	width: 100vw;
	margin: auto;
}

header {
	width: 100%;
	background-color: var(--color1);
	flex-direction: column;
}

header #top-header {
	background-color: var(--primary-color);
	color: var(--color1);
	text-align: center;
	margin: auto;	
	padding: 5px 20px;
	width: 100%;
}

header #bottom-header {
	width: 100%;
	max-width: 1440px;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.logo{
	width: 260px;
	margin-block: 10px;
}

.btn {
	background-color: var(--primary-color) ;
	border: 1px solid var(--primary-color);
	padding: 16px 32px;
	margin-inline:5px;
	border-radius: 5px;
	color: var(--color1);
	text-decoration: none;
}

.btn:hover {
	background-color: var(--color1); 
	color: var(--primary-color);
	transition: all .3s ease-in-out;
}

.devis {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	color: var(--color1);
}

.devis:hover {
	background-color: var(--color1); 
	color: var(--secondary-color);
}

#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 470px;
	position: relative;
}

.banner-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}

#title {
	max-width: 750px;
	margin: auto;
}

/* Code CSS en prévision de l'ajout d'un carousel pour la bannière */
/* Gestion des fleches du carrousel */
#banner .arrow {
	position: absolute;
}
#banner .arrow_left {
	left: 10px;
}
#banner .arrow_right {
	right: 10px;
}

/* Gestion des points du carrousel */
.dots {
	position: absolute;
	bottom: 40px;
	display: flex;
}
.dot {
	margin-inline: 5px;
	width: 13px;
	height: 13px;
	background-color: #ffffff00;
	border: 3px solid var(--color1);
	border-radius: 100%;
	box-shadow: 0 4px 4px var(--color2);
}
.dot_selected {
	background-color: var(--color1);
}
/* Fin du code CSS pour le carousel */

#banner p {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 900;
	font-size: 50px;
	line-height: 66px;
	color: var(--color1);
	text-shadow: 0 4px 4px var(--color2);
	text-align: center;
}

#banner span {
	display: block;
	font-weight: 400;
	font-size: 30px;
}

#about-us,
#products {
	display: flex;
	flex-direction: row;
	max-width: 1440px;
	padding: 10px;
}

#about-us div,
#products div {
	margin: auto;
	width: 50%;
}

#products div {
	padding: 10px 0;
}

#about-us .info,
#products .info {
	max-width: 700px;
	padding: 0 4em;
}

#about-us .image,
#products .image {
	display: flex;
	justify-content: center;
}


#about-us img,
#products img {
	width: 100%;
	min-width: 390px;
	max-width: 600px;
}


#about-us article, 
#products div, 
#products aside,
#about-us aside {	
	margin: auto;
}

#about-us li {
	background: url("./images/tricolor-icon.png") no-repeat left top;
	font-size: 16px;
	line-height: 26px;
	padding-left:2em;
	width: 90%;
	margin-bottom: 1em;

}

#products {
	align-items: flex-start;
	flex-direction: row-reverse;
}

.bg-yellow {
	background-color: var(--third-color);
}

#question {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 15px;
	text-align: center;
}

#question h2 {
	margin-bottom: 10px;
}

#question p {
	margin-bottom: 20px;
}

#why-us {
	display: flex;
	flex-direction: column;
	text-align: center;
}
#why-us > div{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 80px 10px;
}
#why-us article {
	max-width: 320px;
	display: flex;
	flex-direction: column;
}
#why-us img {
	width: 33%;
	height: 150px;
	text-align: center;
	margin-inline: auto;
	margin-block: 0;
	object-fit: contain;
}

.bg-lightblue{
	background-color: var(--color3);
}

#contact {
	margin-bottom: 0;
}

#contact .container {
	flex-direction: row;
	display: flex;
	padding: 4em ;
}

#contact .contact {
	max-width: 1440px;
	margin: auto;
}

#contact article,
#contact div {
	flex:1;
}

#contact .container > div > div {
	display: flex;
	padding-bottom: 20px;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

#contact h3 {
	margin-top: 0;
	background: url("./images/tricolor-icon.png") no-repeat left top;
	padding-left:1.5em;
	width: 200px;
}

#contact .image img {
	width: 100%;
}

.inline-icon {
	vertical-align: middle;
}

footer {
	background-color: var(--color4);
}

footer .footer {
	width: 100%;
	margin: auto;
	color: var(--color1);
	display: flex;
	font-size: 12px;
	align-items: center;
	margin: 0;
}

footer #top-footer {
	max-width: 1440px;		
	margin: auto;
}

footer #bottom-footer div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
	gap: 10px 30px;
}

footer #bottom-footer {
	background-color: var(--color5);
} 

footer #bottom-footer a {
	color: var(--color1);
}

footer #bottom-footer a:hover {
	color: var(--primary-color);
}

footer {
	flex-direction: column;
}

footer .footer {
	padding-block: 3em;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}

footer div,
footer .footer {
	position: relative;
	min-width: 300px;
	gap: 40px 20px;
}

.footer-logo {
	background-color: var(--color1);
	max-width: 308px;
	padding: 10px;
}

.footer-contact {
	margin-bottom: 1em;
	font-weight: 700;
	font-size: 16px;

}

/*  **********************************  */
/*    Media query : max-width: 1250px    */
/*  **********************************  */
@media all and (max-width: 1250px) {
	header #bottom-heade {
		padding: 0 15px;
	}
	
	header #bottom-header > div,
	header #bottom-header > a {
		margin: 10px 15px;
	}

	#about-us,
	#products {
		flex-direction: column-reverse;
		padding: 10px;
	}

	#about-us div,
	#products div {
		width: 90%;
	}

	#products .info {
		padding-top: 20px;
	}
	
	#contact > article {
		flex: 2;
	}

	#contact h2 {
		text-align: center;
	}

	#contact .texte {
		max-width: 500px;
  		margin: auto;
	}

	#contact .image {
		display: none;
		opacity: 0;
		visibility: hidden;
	}

	#contact .container > div > div {
		padding-bottom: 50px;
	}
}

/*  **********************************  */
/*    Media query : max-width: 700px    */
/*  **********************************  */
@media all and (max-width: 700px) {
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 34px;
	}
	
	h3 {
		font-size: 22px;
	}

	#banner p {
		width: 70%;
		font-size: 38px;
		line-height: 42px;
	}
	
	#banner span {
		width: 70%;
		font-size: 24px;
		text-align: center;
		margin: auto;
	}
	
	#about-us .info,
	#products .info {
		padding: 0 10px;
	}

	#contact .container {
		padding: 30px 20px ;
	}
}

